/* NAVIGATION STUFF GOES HERE  */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  ul {
    li {
      a {
        color: $surfaceColor;
        &:hover {
          background-color: $surfaceColor;
          color: $primaryColor;
        }
      }
    }
  }
}

li a img {
  display: none;
}

li a span {
  display: block;
}

.projects-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.experiences-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
